name: ci

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  lint-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: j178/prek-action@v1
      - run: cargo test
